.home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #030B6B;
    color: white;
    display: flex;
    justify-content: center;
align-items: center;
z-index: -1;
}
.home_content{
    width: 600px;
}
.home_content h1{
    margin: 10px 0px;
    max-width: 500px;
}
.home_content p{
    margin: 15px 0px;
}
.home button{
    padding: 6px 30px;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}